<div class="container">
  <div class="row">
    <h1>Teddies</h1>
    <% @teddies.each do |teddy| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag(teddy.photo_url), teddy_path(teddy) %>
          <div class="caption">
            <h3><%= link_to teddy.name, teddy_path(teddy) %></h3>
            <p><%= teddy.category.name %></p>
            <p>Amount: <%= humanized_money_with_symbol(teddy.price) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<h3 class="text-center">Teddies for Sale</h3>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% @teddies.each do |teddy| %>
      <%= render "teddy_row", teddy: teddy, order_item: @order_item %>
    <% end %>
  </div>
</div>
